<h1>Game Details</h1>
<h2>
    Goal: <h3>Eat pellets to grow SnakMan's tail as long as possible</h3>
</h2>
<h2>
    Ghosts: <h3>You must try to avoid the ghosts as they can harm Snakman's tail decreasing score</h3>
</h2>
<h2>
    Powerups: <h3>Eating Powerups which are purple allow you to be uneffected by ghosts and eat them for 6 seconds</h3>
</h2>
<h2>
    Rounds: <h3>As you eat all pellets a new round starts which reset pellets and ghosts</h3>
            <h3>The more rounds you play the harder the game gets</h3>
</h2>