<h1>PlayerData</h1>
<h2>
    <span>Highscore: <span id="highScoreDisplay">No highscore yet</span></span>
</h2>
<h2>
    <span>Last game score: <span id="lastScoreDisplay">0</span></span>
</h2>
<h2>
    <span>Last game length: <span id="lastGameTimeDisplay">0</span></span>
</h2>
<h2>
    <span>Total play time: <span id="totalTimeDisplay">0</span></span>
</h2>
<h2>
    <span>Total pellets eaten: <span id="totalPelletsDisplay">0</span></span>
</h2>
<h2>
    <span>Total ghosts killed: <span id="totalGhostKillsDisplay">0</span></span>
</h2>